@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

:root {
  --primary: #D75004;
  --secondary: #53BB57;
  --btn-bg: #000;
}

@layer base {
  html {
    @apply scroll-smooth 
  }
  body {
    @apply font-[Raleway] 
  }
  button {
    @apply px-8 py-1  bg-[var(--btn-bg)] text-white rounded-full text-[14px] md:text-[16px] drop-shadow-sm hover:scale-105 
  }
} 